<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-4">
      <img src="https://i.imgur.com/gqre4d5.jpg" class="img-fluid">
    </div>

    <div class="col-md-4">
      <h3 class="my-3"><%= @user.name %></h3>
      <h5 class="my-3"><%= "#{@user.name} has earned: #{@user.update_status}"%></h5>
      <h5 class="my-3">Interests: </h5>
      <ul>

        <li><%= @user.interests %></li>
       
      </ul>
    </div>

  </div>
  <!-- /.row -->
  <!-- Related Projects Row -->
  <h3 class="my-4">Funded Products</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
  </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->

