
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  background: rgb(245, 245, 245);
}

a { color: inherit; } 

.my-thumbnail{
  height: 20vw;
  width: 20vw;
}
